.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

a {
    color: #000000;
}

img{
    image-orientation: from-image;
}

.image
{
list-style-type: none;
}

.myPic{
    background-color: #f9eddd
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.is-disabled {
    opacity: .5;
    pointer-events: none;
}


.panel {
    min-width: 31%;
    display: inline-block;
    margin: 1%;
}

.panel > .panel-heading,
.panel.panel-default > .panel-heading {
    background-color: #FFFFFF;
    color: #757575;
    font-size: 16px;
}

.panel > .panel-heading,
.panel.panel-default > .h-footer {
    background-color: #FFFFFF;
    color: #00BCD4;
}

.panel-body {
    background-color: #f9eddd;
    color: #757575;
    font-size: 50px;
    text-align: center;
}

.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-direction: row;
    min-height: 100%;
}

.flex-container .description{
    flex-basis: 35%;
}

.flex-container .screenshots {
    flex-basis: 65%;

}

.flex-container .screenshots ul li{
    margin-bottom: 20px;
}

.flex-container .screenshots img{
    max-height: auto;
    max-width: 500px;
    display: block;
    margin: auto;
}

.columns {
  columns: 3;
}

.rows {
  padding-bottom: 15px;
}
/*.game-container{
  float: right;
  position: relative
}*/

.contents{
  position: center;
}

.feedback{
  position: relative;
  left: 35px;
}


.inside-content {
    padding-left: 2%;
    padding-right: 2%;
}


/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.navbar {
    background: #000000;
}

.container-narrow > hr {
  margin: 30px 0;
}
.box{
  float: right;
}
.player{
  float: right;
  margin-right: 20px; 

}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 75%;
  }

  /*.split-container{
    max-width: 45%
  }*/
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
