<div class= "container">
<div class="jumbotron">
	<h2>About Nichole</h2>
	<p>
	I recently graduated from Grace Hopper Academy, an immersive software development bootcamp, and am excited to begin my career as a software developer. Over the past four years I’ve worked with the major angel investor networks in the Middle East searching for viable technology startups in which to invest. My search for different technology startups drew me more to the actual development of the technology, so I started exploring software development through various online courses. I then decided to make a career change and so I pursued an education at Grace Hopper Academy.</p>

	<p>Over the past four months I’ve been immersed in a development environment where I was able to hone my software development skills and formalize my process. I’ve been exposed to different technologies and paradigms and have worked on multiple projects that range from building e-commerce websites, music-based games to software development tools.</p>

	<p>The curriculum I studied was focused on Javascript. During that time, I became proficient in Node.js, AngularJS, Express, Sequelize (PostgreSQL), amongst other technologies such as JQuery, HTML5, SASS/CSS and GitHub and continue to explore new technologies such as React and Redux on my own time.</p>
</div>
</div>
