<div class= "container">
<div class="jumbotron about">

  <p>
    Full Stack Software Engineer<br>
    <span>Pollen, Inc, New York, NY </span>
    <span>October 2016-Present </span>
    <ul>
      <li> Single-handedly designed and developed an Instagram-based e-commerce taggable gallery builder app
      for Shopify stores [JS, jQuery, C#, Razor, Azure]
      <li> Collaborated with a designer to redesign the front-end experience of the main app
      <li> Reimplemented the entire front-end as the sole front-end developer [JS, jQuery, C#, Razor]
      <li> Actively propose improvements to release cycle such as feature flags
      <li> Deployed, automated and optimized a lead-generator [Python, MySQL, Ubuntu]
      <li> Mapped out business and technical requirements for integration with third party APIs
      <li> Identify and improve user experience issues and bugs [JS, jQuery, C#, Razor]
      <li> Add and deploy new product features [JS, jQuery, C#, Razor]
      <li> Successfully became a contributor within two days with no on-boarding and no prior knowledge of C#
    </ul>
  </p>
	<p>
  Grace Hopper Academy, a Fullstack Academy affiliate, New York, NY
  <ul>
    <li> Immersive software development bootcamp focusing on Javascript and the SEAN stack
    <li> Over 700 hours of coursework
    <li> Became proficient in Node.js, AngularJS, Express, Sequelize (PostgreSQL), amongst other technologies such as JQuery, HTML5, SASS/CSS 
  </ul>
</div>
</div>
