<div class= "container">
	<div class="jumbotron">
	<h2>Nichole C. Bates</h2>
	<h3>Full Stack Software Engineer</h3>
	<div class="flex-container home-page">
	<div class="description">
		<div class="myPic">
			<img src="../../images/Nichole_Small.jpg" height= "300px" width="auto">
		</div>
	</div>
		<div class="screenshots details">
			<p>
				<b>Proficient:</b> Javascript, Node, Express, Angular, Sequelize, SQL, PostgreSQL, jQuery, Git, HTML5, CSS3/SCSS, Bootstrap
			</p>
			<p>
				<b>Working Knowledge:</b> Swig, Gulp, Mocha, Chai, Jasmine, Sinon, Bluebird
			</p>
			<p>
				<b>Learning:</b> React, Flux, Redux, Java, Android
			</p>
			<p>
				<b>Methodologies:</b> Agile, SCRUM
			</p>
		</div>
	
	</div>
	<div class="bottom">
			<p><b>Education:</b> Grace Hopper Academy Spring 2016</p>
		</div>
</div>
