<div class= "container">
	<div class="jumbotron">
	<h2>Nichole C. Bates</h2>
	<h3>Full Stack Software Engineer</h3>
	<div class ="myPic">
		<img src="../../images/Nichole_Small.jpg" height= "300px" width="auto">
	</div>
	<p>
		<b>Proficient:</b> Javascript, Node, Express, Angular, Sequelize, SQL, PostgreSQL, jQuery, Git, HTML5, CSS3/SCSS, Bootstrap
	</p>
	<p>
		<b>Working Knowledge:</b> Swig, Gulp, Mocha, Chai, Jasmine, Sinon, Bluebird
	</p>
	<p>
		<b>Basic Knowledge:</b> React, Flux, Redux, Java, Android
	</p>
	<p>
		<b>Methodologies:</b> Agile, SCRUM
	</p>
</div>
