<div class="inside-content">
    <div class="flex-container">
        <div class="description">
            <div class="app-title">
                <h2>
    				{{title}}
    			</h2>
            </div>
            <div class="app-description">
                <b>Description:</b> {{description}}
            </div>
            <div class="app-description">
            <b>Technologies Used:</b>
            {{technologies}}
            </div>
            <div class="app-description">
             <b>Links:</b>
                 <ul class="app-links">
                    <li ng-hide="!github"><a ng-href="{{github}}">Github Repo</a>
                    <li ng-hide="!demos"><a ng-href="{{demos}}">Demo Video</a>
                    <li ng-hide="!deployed"><a ng-href="{{deployed}}">Deployed Site</a>   
                </ul>
            </div>      
        </div>
        <div class="screenshots">
        <ul class="image">
	        <li><img src="{{imageOne}}">
	        <li><img src="{{imageTwo}}">
	        <li><img src="{{imageThree}}">
          <li><img src="{{imageFour}}">
        </ul>
        	
        </div>
    </div>
</div>
