<div class="inside-content">
    <div class="flex-container">
        <div class="description">
            <div class="app-title">
                <h2>
    				{{title}}
    			</h2>
            </div>
            <div class="app-description">
                {{description}}
            </div>
             <ul class="app-links">
                <li ng-hide="!github"><a href="{{github}}">Github Repo</a>
                <li ng-hide="!demo"><a href="{{demos}">Demo Video</a>
                <li ng-hide="!deployed"><a href="{{deployed}}">Deployed Site</a>
                
            </ul>
        </div>
        <div class="screenshots">
        <ul class="image">
	        <li><img src="{{imageOne}}">
	        <li><img src="{{imageTwo}}">
	        <li><img src="{{imageThree}}">
        </ul>
        	
        </div>
    </div>
</div>
